<h1><%= @cat.name %></h1>

<table>
  <tr>
    <td>age</td>
    <td>birth date</td>
    <td> color</td>
    <td> sex </td>
    <td> description </td>
  </tr>
  <tr>
    <td><%= @cat.age %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>