<h1><%= @cat.name %></h1>

<table>
  <tr>
    <td>age</td>
    <td>birth date</td>
    <td>color</td>
    <td> sex </td>
    <td> description </td>
  </tr>
  <tr>
    <td><%= @cat.age %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<h3>reservations</h3>
<ul>
    <% @requests.each do |request| %>
    <li> <%= request.start_date %> - <%= request.end_date %>
      <% if request.pending? %>
        <%= button_to "Approve", approve_url(request), class: :button, method: :post %>
        <%= button_to "Deny", deny_url(request), class: :button, method: :post %>
      <% end %>
    <%end%>
</ul>
<%= link_to "Rent him!", new_cat_rental_request_url  %>
<br>
<%= link_to "back to cat list", cats_url  %>