<h1><%= @cat.name %></h1>

<p>
  This is <%= @cat.name %>, <%= (@cat.sex == "M") ? "he" : "she" %> is a
  <%= @cat.color %> colored cat, who is <%= @cat.age %> years old.
  <%= @cat.description %>
</p>

<%= link_to "Rent this Kitty!", new_cat_cat_rental_request_url(@cat) %>
<br>

<h3>reservations</h3>
<ul>
  <% @requests.each do |request| %>
    <%= render "cat_rental_requests/show", request: request %>
  <%end%>
</ul>
